[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "bash/bash_it.symlink"]
	path = bash/bash_it.symlink
	url = http://github.com/revans/bash-it.git
[submodule "vim/vim.symlink/vundle"]
	path = vim/vim.symlink/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "sublime/Packages/Package Control"]
	path = sublime/Packages/Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "sublime/Packages/Theme - Soda"]
	path = sublime/Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "sublime/Packages/daylerees-themes"]
	path = sublime/Packages/daylerees-themes
	url = https://github.com/daylerees/colour-schemes.git
[submodule "sublime/Packages/SideBarEnhancements"]
	path = sublime/Packages/SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements.git
[submodule "sublime/Packages/LaTeXTools"]
	path = sublime/Packages/LaTeXTools
	url = https://github.com/phyllisstein/LaTeXTools.git
