[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "bash/bash_it.symlink"]
	path = bash/bash_it.symlink
	url = http://github.com/revans/bash-it.git
[submodule "vim/vim.symlink/vundle"]
	path = vim/vim.symlink/vundle
	url = https://github.com/gmarik/vundle.git
